body,
h1,
p,button,
ul{
    margin:0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

body{
    line-height: 1.6;
    color: #333;
    background-color: #290043;
}
header{
    background-color: #290043;
}
@media only screen and (min-width: 600px) {
    header h1{
    color: #e4d296;
    margin-top: 20px;
    margin-left: 41%;
    font-size: 50px;
}
header img{
    margin-left: 5.498%;
    margin-top: -112px;
    height: 198px;
    width: 300px;
}
header div{
    display: flex;
}
header h3{
    color: #e4d296;
    margin-top: 45px;
    margin-left: 240px;
    font-size: 25px;
}
nav{
    background-color: #290043;
    display: flex;
}
nav ul{
    list-style: none;
    padding:40px 0 0 0;
    margin-left: 0;
    display: flex
}
nav ul li a{
    font-weight: bold;
    background-color:#e4d296;
    font-size: 20px;
    color: #290043;
    text-decoration: none;
    padding: 7px 155px;
    display: block;
    transition: background-color 0.3s ease;
}
nav ul li a:hover{  
    background-color: #290043;
    color: #e4d296;
}







.anitest{
    color: white;
    height: 750px;
    background-color: #c785ec;
    padding: 10px 5px;
    text-align: center;
    transition: padding 0.5s ease;
}
.anitest h1{        
    margin-bottom: 20px;
}
.left_button{
    margin-right: 10%;
}
.anitest button{
    background-color: #e4d296;
    color:#290043;
    font-weight: bold;
    border: none;
    width: 107.83px;
    height: 35px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.anitest button:hover{
    background-color: #c785ec;
    color: white;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
 
.anitest{
    animation: fadeIn 3s;
}


footer{
    text-align: center;
    background-color: #290043;
    color: #e4d296;
    padding: 20px; 
}
footer img{
    height: 75px;
}
footer hr{
    color: #333;
}
hr{
    width:25%; size:2; color:#000000;  border: 1px solid #e4d296;
}
footer a{
    padding-top: 5px;
    margin: auto;
    display: block;
    width: 107.83px;
    height: 30px;
    background-color: #e4d296;
    text-decoration: none;
    color: #290043;
    font-weight: bold;
}
footer a:hover{
    background-color: #c785ec;
    color: white;
}
#shop_cart{
text-align: center;
color: #290043;
background-color: #e4d296;
position: fixed;
top: 26%;
right: 0;
width: 40px;
height: 30px;
padding-top: 8px;
padding-bottom: 2px;
}





        #toggle-nav {
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            position: relative;
            text-align: center;
            width: 100%;
            height: 0;
            z-index: 98;
        }
       
        .show-nav #toggle-nav .toggle {
            background-color: #290043;
            color: #e4d296;
            right: 260px;
            transition: all 0.5s ease-in-out;
        }
       
        #toggle-nav .toggle {
            transition: all 0.5s ease-in-out;
        }
       
        .show-nav .navigation-main {
            right: 0;
            transition: all 0.5s ease-in-out 0s;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
        }
       
        .navigation-main{
            background: #290043;
            color: #fff;
            display: flex; 
            font-size: 12px;
            height: 38.57%;
            right: -260px;
            line-height: 30px;
            position: fixed;
            text-transform: uppercase;
            top: 21.1%;
            width: 260px;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
       
       
        .navigation-main ul {
            list-style: none;
        }
       
        .navigation-main li a {
            color: #fff;
        }
    .navigation-main h1{
    text-align: center;
}
#container{
    height: 90%;
    width: 96.28%;
    background-color: #65218d;
    margin-top: 1.9%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: #e4d296;
}
.holder{
    height:95%;
    width: 23%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color:#290043;
}
.holder:hover{
    border: solid #fff;
}
.holder img{
    width: 90%;
    height: 50%;
}
}
@media only screen and (max-width: 600px) {
header h1{
    text-align: center;
    color: #e4d296;
    font-size: 60px;
    float: left;
}
header img{ 
    height: 100px;
    width: 100px;
    align-self: center;
}
header h3{
    text-align: center;
    color: #e4d296;
    margin: 0;
    font-size: 25px;
}
nav{
    background-color: #290043;
    display: flex;
    flex-direction:column
}
nav ul{
    text-align: center;
    list-style: none;
    margin-left: 0;
}
nav ul li{
    padding: 5px;
}
nav ul li a{
    font-weight: bold;
    background-color:#e4d296;
    font-size: 20px;
    color: #290043;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}
nav ul li a:hover{
    background-color: #290043;
    color: #e4d296;
}







.anitest{
    color: white;
    height: 2800px;
    background-color: #c785ec;
    padding: 10px 5px;
    padding-bottom: 5%;
    text-align: center; 
    transition: padding 0.5s ease;
}
.anitest h1{
    margin-bottom: 20px;
}
.left_button{
    margin-right: 10%;
}
.anitest button{
    background-color: #e4d296;
    color:#290043;
    font-weight: bold;
    border: none;
    width: 107.83px;
    height: 35px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.anitest button:hover{
    background-color: #c785ec;
    color: white;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
 
.anitest{
    animation: fadeIn 3s;
}


footer{
    text-align: center;
    background-color: #290043;
    color: #e4d296;
    padding: 20px; 
}
footer img{
    height: 75px;
}
footer hr{
    color: #333;
}
hr{
    width:25%; size:2; color:#000000;  border: 1px solid #e4d296;
}
footer a{
    padding-top: 5px;
    margin: auto;
    display: block;
    width: 107.83px;
    height: 30px;
    background-color: #e4d296;
    text-decoration: none;
    color: #290043;
    font-weight: bold;
}   

footer a:hover{
    background-color: #c785ec;
    color: white;
}

#shop_cart{
text-align: center;
color: #290043;
background-color: #e4d296;
position: fixed;
top: 43.29%;
right: 0;
width: 40px;
height: 30px;
padding-top: 8px;
padding-bottom: 2px;
}





        #toggle-nav {
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            position: relative;
            text-align: center;
            width: 100%;
            height: 0;
            z-index: 98;
        }
       
        .show-nav #toggle-nav .toggle {
            background-color: #290043;
            color: #e4d296;
            right: 260px;
            transition: all 0.5s ease-in-out;
        }
       
        #toggle-nav .toggle {
            transition: all 0.5s ease-in-out;
        }
       
        .show-nav .navigation-main {
            right: 0;
            transition: all 0.5s ease-in-out 0s;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
        }
       
        .navigation-main{

            background: #290043;
            color: #fff;
            display: flex; 
            font-size: 12px;
            height: 38.57%;
            right: -260px;
            line-height: 30px;
            position: fixed;
            text-transform: uppercase;
            top: 21.3%;
            width: 260px;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            justify-content: center;
            justify-items: center;
            flex-direction: column;
        }
       
       
        .navigation-main ul {
            list-style: none;
        }
       
        .navigation-main li a {
            color: #fff;
        }
    .navigation-main h1{
    text-align: center;
}
#container{
    height: 100%;
    width: 96.28%;
    background-color: #65218d;
    margin-top: 1.9%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: #e4d296;
    flex-direction:column
}
.holder{
    height:100%;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color:#290043;
}
.holder:hover{
    border: solid #fff;
}
.holder img{
    width: 90%;
    height: 50%;
}
}